//!Global

* {
  // border: 1px solid red;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $c-gray-light;
  font-family: $f-base;
  padding-bottom: 150px;
  font-size: $fs-base;
  position: relative;
  padding-top: 150px;
  line-height: 15px;
  color: $c-black;
}

.icon {
  display: inline-block;
  stroke: currentColor;
  fill: currentColor;
  stroke-width: 0;
  height: 1em;
  width: 1em;
}

a {
  text-decoration: none;
  color: $c-white;
}

input:focus {
  background-color: $c-white;
}

textarea:focus {
  background-color: $c-white;
}
