//!Variables

//*Colors
$c-white: #ffffff;
$c-black: #1d3041;
$c-gray-light: #f9f9f9;
$c-gray: #c2c9d6;
$c-red: red;
$c-blue: blue;
$c-yellow: rgb(255, 208, 0);
$c-blue-ligth: #3498db;
$c-aqua: aqua;
$c-orange: orange;

//*Font-family
$f-base: 'Roboto', sans-serif;

//*Font size
$fs-base: 15px;
$fs-number: 60px;
$fs-1: 40px;
$fs-2: 22px;
$fs-3: 20px;
$fs-4: 17px;
