//!Variables

//*Colors
$c-white: #ffffff;
$c-black: #080606;
$c-brown: #59443f;
$c-orange: #ffc59e;
$c-brown-light: #c3b9b5;
$c-bg-spec: #fbf8f8;
$c-icon: #ddd4f3;
$c-red: red;

//*Font-family
$f-base: 'Roboto', sans-serif;

//*Font size
$fs-base: 10px;
$fs-title1: 70px;
$fs-title2: 40px;
$fs-title3: 20px;
$fs-title4: 16px;
