//!Header

@import './../../styles/normolize.scss';
@import './../../styles/fonts.scss';
@import './../../styles/variables.scss';
@import './../../styles/main.scss';

// * Header section
.header {
  border-bottom: 1px solid $c-gray;
  background-color: $c-white;
  justify-content: center;
  position: fixed;
  display: flex;
  height: 80px;
  z-index: 100;
  width: 100%;
  left: 0;
  top: 0;

  button {
    background-color: $c-orange;
    padding: 15px 20px;
    border-radius: 3px;
    color: $c-white;
  }

  a {
    color: $c-black;
  }
}

.wrapper {
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  display: flex;
  width: 1200px;
  height: 100%;
}

.logo {
  display: flex;
}

.logoImage {
  margin-right: 15px;
}
