//!Footer

@import './../../styles/normolize.scss';
@import './../../styles/fonts.scss';
@import './../../styles/variables.scss';
@import './../../styles/main.scss';

//*Footer section
.footer {
  border-top: 1px solid $c-gray;
  background-color: $c-white;
  position: fixed;
  height: 80px;
  width: 100%;
  bottom: 0;
  left: 0;

  .wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
  }

  button {
    min-width: 260px;
    padding: 20px;
  }
}
